/* Styles pour le header */
header {
    background-color: #fff;
    border-bottom: 3px solid #80c56a;
    color: #d192aa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

nav ul li {
    position: relative;
    margin: 0;
}

.submenu {
    position: relative;
}

.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 3px solid #80c56a;
    padding: 10px;
    margin: 0;
    width: 200px; /* Ajustez la largeur du sous-menu */
}

.sub-menu li {
    display: block;
    padding: 10px;
    margin: 0;
}

nav ul li:hover .sub-menu {
    display: block;
}

nav ul li a {
    text-decoration: none;
    color: #d192aa;
    padding: 10px 20px;
}

/* Styles pour le footer */
footer {
    background-color: #fff;
    color: #d192aa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-top: 3px solid #80c56a;
    width: 100%;
    position: fixed; /* Changez en "fixed" pour le rendre visible lors du défilement */
    bottom: 0;
}

.social-icons a{
    margin: 0 10px;
}

/* Styles pour rendre le site Web réactif */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
    }

    .submenu:hover .sub-menu {
        display: none;
    }
}
